* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img.background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

header {
    background-color: #333;
    border-radius: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    z-index: 1; 
}

header > h1 {
    margin-left: 5%;
    font-size: 35px;
    font-family: sans-serif;
}

header > img {
    width: 80px;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.5); 
    max-width: 550px;
    height: auto;
    margin: 0 auto;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(249, 248, 248, 0.5); 
    box-sizing: border-box;
    text-align: center;
    margin-top: 200px;
    margin-left: 300px;
    transform: translateZ(-50px, -50px); 
}

.login-container h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #03f484;
    text-shadow: 0 10px 20px rgba(18, 225, 97, 0.75);
    text-align: center;
}

.login-container label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-container input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    outline: none;
    background: transparent;
}

.error {
    color: #ff0000;
    margin-bottom: 10px;
}

.login-container input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03f484;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.login-container input[type="submit"]:hover{
    background-color: #03f484;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f484, 
    0 0 25px #03f484,
    0 0 50px #03f484,
    0 0 100px #03f484;
        
}


@media screen and (max-width: 768px) {
    header {
        align-items: center;
      }
    
      header > h1 {
        margin: 52px;
      }
    
      header > img {
        width: 50px; 
        margin-top: auto 10px;
        margin-bottom: auto 10px;
        padding-right: auto 15px; 
    }
    .login-container {
        max-width: 90%;
    }

    .login-container h2 {
        font-size: 20px;
    }

    .login-container label {
        font-size: 16px;
    }

    .login-container input {
        font-size: 16px;
    }

    .login-container input[type="submit"] {
        font-size: 16px;
    }
}
